<%= form_tag '/pirates', :remote => true do %>
  Name <%= text_field_tag 'pirate[name]'%> <br/>
  <%= submit_tag 'create pirate'%> <br/>
<%end%> 

<div id="pirates">
<%= render :partial => 'shared/pirate', :collection => @pirates, :as => :p %>
</div>